/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

img.rounded-corners {
  border-radius: 30px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #D3D3D3;
    color: #7A7C80;
}

h1{
    color: #fff;
	font-size: 2.22rem;
	background-color: #0e1111;
	padding: 5px;
	margin:5px;
	display:table;
	width:80%;
}

.name1 {  display: flex;
  justify-content: center;}
.name{
  background-color: #0e1111;
  width: 40%;
}

h2{
    color: #fff;
	font-size: 2.22rem;
	background-color: #0e1111;
	padding: 5px;
	margin:5px;
	display:table;
	width:80%;
}

.section
{
	color: #fff;
#	font-size: 2.22rem;
	background-color: #0e1111;
		padding: 9px;
}

ul {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 5px;
            list-style:none;
            padding-left:9px;
			
	background-color: #0e1111;
	
}

li {
	color: #fff;
	background-color: #0e1111;
}

.white{
    color: #fff;
	padding: 5px;
	margin: 5px;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
	
}

.small {
	text-align: center;
    font-size: 0.6rem;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 5vh;
    width: 88%;
	display:block;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #fff;
}

.section-2 h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #fff;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}
.section-mini {
				padding: 9px;
}

.section-mini a{
	display: contents;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-mini a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.box {
  float: left;
  height: 10px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid #D3D3D3;
  clear: both;
  background-color: gray;
}

/* media queries */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 2.7rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
	.name{
  background-color: #0e1111;
  width: 70%;
}
}